:root {
  --body-background-color: #fff;
  --box-shadow-color: #222;
  --heading-color: #333;
  --highlight-background-color: #555;
  --highlight-link-color: #fff;
  --link-color: #0074d9;
  --link-color-visited: #b10dc9;
  --link-color-hover: #39cccc;
  --text-color: #555;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --body-background-color: #333;
    --box-shadow-color: #000;
    --heading-color: #fff;
    --highlight-background-color: #999;
    --highlight-link-color: #333;
    --link-color: #90e0ef;
    --link-color-visited: #00b4d8;
    --text-color: #ededed;
  }
}

html {
  box-sizing: border-box;
  font-size: 90%;
}
@media (min-width: 40em) {
  html {
    font-size: 95%;
  }
}
@media (min-width: 75em) {
  html {
    font-size: 100%;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--body-background-color);
  color: var(--text-color);
  font-family: georgia, serif;
  line-height: 1.7;
  margin: 0;
}
p,
h1,
h2,
h3,
ol,
ul {
  margin-top: 0;
}
p,
li {
  font-size: 1.15rem;
}
p {
  margin-bottom: 2em;
}
h1,
h2,
h3,
h4 {
  color: var(--heading-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 2.5em;
}
@media (min-width: 40em) {
  h1 {
    font-size: 4.5em;
  }
}
h2 {
  font-size: 2em;
}
@media (min-width: 40em) {
  h2 {
    font-size: 3.5em;
  }
}
h3 {
  font-size: 1.75em;
}
@media (min-width: 40em) {
  h3 {
    font-size: 2.5em;
  }
}
h4 {
  font-size: 1.25em;
}
@media (min-width: 40em) {
  h4 {
    font-size: 1.75em;
  }
}
a {
  color: var(--link-color);
  text-decoration-skip: edges;
}
a:visited {
  color: var(--link-color-visited);
}
a:hover {
  color: var(--link-color-hover);
}
ol,
ul {
  margin-bottom: 2em;
}
li > ul {
  margin-top: -1em;
  margin-bottom: 1em;
}

footer,
header,
main {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
main {
  padding: 2em 1.5em;
}
footer {
  margin-top: 4em;
  margin-bottom: 2em;
  text-align: center;
}
header {
  margin-bottom: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
}
@media (min-width: 40em) {
  header {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 40em) {
  article h2,
  article h3 {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -40vw;
    margin-right: -40vw;
    width: 80vw;
    text-align: center;
  }
}
pre {
  border: 1px solid var(--highlight-background-color);
  margin-bottom: 2em;
  padding: 1em 1.5em;
}
@media (min-width: 60em) {
  pre {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -30em;
    margin-right: -30em;
    width: 60em;
  }
}
code {
  counter-reset: step;
  counter-increment: step 0;
}
code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.5);
}
p > code,
li > code {
  background-color: var(--highlight-background-color);
  color: var(--highlight-link-color);
  display: inline-block;
  font-size: 80%;
  padding: 0 2px;
}
@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

/* Only way I could get the spacing I needed */
.bluesky-post-container {
  margin-block-end: 2em !important;
}
