---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Page not found";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Quote the Server: 404</h2>
  <p>This page was either moved, removed, or never existed.</p>
  <p>Game over.</p>
  <p><a href="/">Insert coin to continue?</a></p>
</BaseLayout>
