---
const { date = "01/01/1979" } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "UTC",
});
---

<span>{formattedDate}</span>
