---
const { data, postUrl } = Astro.props;
const formattedDate = new Date(data.date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "UTC",
});
---

<a href={`/${postUrl}`} class="post-box">
  <h3 class="post-box-heading">{data.title}</h3>
  <span class="post-box-date">{formattedDate}</span>
  <p class="post-box-description">{data.description}</p>
</a>

<style>
  .post-box {
    background-color: var(--highlight-background-color);
    box-shadow: 0.5rem 0.5rem var(--box-shadow-color);
    color: var(--highlight-link-color);
    display: inline-block;
    padding: 2em 1.5em;
    position: relative;
    text-decoration: none;
    width: 100%;
  }
  .post-box:visited {
    color: var(--highlight-link-color);
  }
  .post-box:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .post-box + .post-box {
    margin-top: 2em;
  }
  .post-box-heading {
    margin-top: 0;
    color: var(--highlight-link-color);
  }
  .post-box-description {
    margin-bottom: 0;
  }
  .post-box-date {
    position: absolute;
    top: 2px;
    right: 6px;
  }
  @media screen and (prefers-color-scheme: dark) {
    .post-box:hover {
      background-color: rgba(256, 256, 256, 0.8);
    }
  }
</style>
