---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";
const { pageTitle = "Shane is me" } = Astro.props;
const {
  pageDescription = "I'm an old-school geek that likes to write on an irregular schedule. I've been a developer for over 20 years and now I have been exploring what it means to be a good manager of developers. So I write irregularly about that and maybe other things.",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content="shane duff, leadership, management, coding, front end"
    />
    <meta name="description" content={pageDescription} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
